.nav-link {
    display: block;
    padding: 1rem 1rem 1rem 0rem;
}

.div-title {
    padding: 10px 0;
}

.title-customer {
    font-size: 20px;
    font-weight: 700;
    padding: 0 25px;
    line-height: 30px;
}