<div class="bg-primary">
    <nav class="navbar navbar-default">
        <div class="container menu-link">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img src="../assets/images/icons8-manager-40.png" class="logo">
                </a>
                <span class="navbar-brand text-white">Customer Manager</span>
            </div>
            <ul class="nav ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet>
</router-outlet>