<div style="display: flex; justify-content: space-between;">
    <h2 class="modal-title">Thêm mới Customer</h2>
    <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
</div>
<form action="" #form="ngForm" (ngSubmit)="save(form)">
    <div class="form-group">
        <label for="firstname">Fisrt Name </label>
        <input type="text" class="form-control" id="firstname" required [(ngModel)]="customer.firstName" name="firstname" #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
            First Name is required
        </div>
    </div>
    <div class="form-group">
        <label for="lastname">Last Name </label>
        <input type="text" class="form-control" id="lastname" required [(ngModel)]="customer.lastName" name="lastname" #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
            Last Name is required
        </div>
    </div>
    <div>
        <label for="gender">Gender :</label>
        <label>
         <span class="pd"> <input  type="radio" value="male" name="male" [(ngModel)]="customer.gender" #male > Male  </span>
         <span class="pd"> <input  type="radio" value="female" name="female" [(ngModel)]="customer.gender" #female > Female </span>
        </label>
    </div>
    <div class="form-group">
        <label for="mail">Email :</label>
        <input type="text" class="form-control" id="mail" required [(ngModel)]=" customer.mail" name="mail" #mail="ngModel">
        <div [hidden]="mail.valid || mail.pristine " class="alert alert-danger">
            Email is required
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address :</label>
        <input type="text" class="form-control" id="address" required [(ngModel)]=" customer.address" name="address" #address="ngModel">
        <div [hidden]="address.valid || address.pristine " class="alert alert-danger">
            Address is required
        </div>
    </div>
    <div class="form-group">
        <label for="city">City :</label>
        <input type="text" class="form-control" id="city" required [(ngModel)]=" customer.city" name="city" #city="ngModel">
        <div [hidden]="city.valid || city.pristine " class="alert alert-danger">
            City is required
        </div>
    </div>
    <div class="form-group">
        <label for="state">State :</label>
        <input type="text" class="form-control" id="state" required [(ngModel)]=" customer.state" name="state" #state="ngModel">
        <div [hidden]="state.valid || state.pristine " class="alert alert-danger">
            State is required
        </div>
    </div>
    <mat-dialog-actions style="justify-content: space-between;">
        <button mat-button mat-dialog-close class="btn btn-dark" (click)="close() ">Đóng</button>
        <button mat-button [mat-dialog-close]="true " class="btn btn-primary" cdkFocusInitial type="submit ">Lưu</button>
    </mat-dialog-actions>
</form>